version: "3.9"

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: travle
      POSTGRES_USER: travle
      POSTGRES_PASSWORD: devpass
    volumes:
      - pgdata_dev:/var/lib/postgresql/data
      - ./backend/data/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: travle
      DB_USER: travle
      DB_PASSWORD: devpass
      DB_SSL: "false"
      SALT_ROUNDS: 10
      PORT: 5000
      JWT_SECRET: devsecret
      JWT_EXPIRES_IN: 30d
    volumes:
      - ./backend:/app
    ports:
      - "5000:5000"
    depends_on:
      - postgres

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  pgdata_dev:
