name: Backend Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: ./code/backend
        run: npm install

      - name: Run tests
        working-directory: ./code/backend
        run: |
          export NODE_OPTIONS=--experimental-vm-modules
          npm test
